.list-unstyled{
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
a{
  text-decoration: none;
  transition: all .25s;
  &:hover{
    text-decoration: none;
  }
}
.section{
  padding: 3em 0;
}
.absolute-center {
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		position: absolute;
		display: block;
		width: 50%;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
}
.sub-title{
  .lora(700);
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 1em;
}

/**************************************
  Buttons
**************************************/

.btn{
  .source-sans(700);
  text-transform: uppercase;
  border: 2px solid #fff;
  transition: all .5s;
  border-radius: 0;
}
.btn-green{
  background-color: @green;
  color: #fff;
  &:hover{
    background-color: darken(@green, 5%);
    color: #fff;
  }
}
.btn-ghost{
  color: inherit;
  &:hover{
    color: inherit;
  }
}


/**************************************
  Banners
**************************************/

.page-banner{
  height: 100px;
  h2{
    .lora(700);
    padding: 0;
    text-align: center;
    margin: 0;
    color: #FFF;
    font-size: 3em;
    padding-top: 20px;
    text-shadow: 1px 1px 3px @yellow;
  }
  .underlay{
    height: inherit;
    background-color: rgba(0,0,0,.7);
  }
}
