.list-unstyled{
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
.section{
  padding: 3em 0;
}
.absolute-center {
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		position: absolute;
		display: block;
		width: 50%;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
}
.sub-title{
  text-align: center;
  .pt-serif(400);
  font-size: 35px;
  padding: 1em 0;
}
