.dancing{
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
}
.gentium(@weight){
  font-family: 'Gentium Basic', serif;
  font-weight: @weight;
}
.lora(@weight){
  font-family: 'Lora', serif;
  font-weight: @weight;
}
