.pt-serif(@weight){
  font-family: 'PT Serif', serif;
  font-weight: @weight;
}
.open-sans(@weight){
  font-family: 'Open Sans', sans-serif;
  font-weight: @weight;
}
.vollkron(@weight){
  font-family: 'Vollkorn', serif;
  font-weight: @weight;
}
