.page-template-template-ironwood-grill{
  .page-banner{
    background-image: url('../img/ironwood-grille-bg.jpg');
    background-size: contain;
  }
  .section-grill-statement{
    .statement-content{
      padding-top: 3em;
      h3{
        .lora(700);
        font-size: 2.5em;
        margin-top: 0;
        margin-bottom: .5em;
      }
      p{
        font-size: 18px;
        line-height: 1.8;
      }
    }
  }
  .section-grill-private-parties{
    background-color: @light-blue;
    color: #FFF;
    .private-parties-content{
      text-align: center;
      p{
        font-size: 17px;
      }
    }
    .col-cta{
      padding-top: 1em;
      text-align: center;
      a{
        &:hover{
          background-color: darken(@light-blue, 5%);
        }
      }
    }
  }
}
