.navigation{
  border-bottom: 5px solid @dark-blue;
  background-image: url('http://7-themes.com/data_images/out/63/6987018-plain-wood-background.jpg');
  background-size: cover;
  padding: 2em 0;
  .header-logo{
    img{
      max-width: 130px;
    }
  }
  .nav-links {
    .source-sans(400);
    font-size: 18px;
    text-align: right;
    padding-top: 20px;
    li{
      a{
        color: #fff;
      }
    }
    .hvr-underline-from-left:before{
      background: @yellow;
    }
  }
}
