.navigation{
  background: url('https://upload.wikimedia.org/wikipedia/commons/4/40/Fraxinus_excelsior_wood_tangent_section_1_beentree.jpg');
  .underlay{
    padding: 3em 0;
    background-color: rgba(255,255,255,.3);
  }
  .header-logo{
    img{
      max-width: 130px;
    }
  }
  .nav-links {
    .gentium(700);
    font-size: 18px;
    text-align: right;
    padding-top: 20px;
    li{
      a{
        color: @dark-blue;
      }
    }
  }
}
